{%extends "blog/formbase.html"%}
{%block body%}

<form class="form-container" method = "post">
    <!-- Simple Textfield -->
    <div class="mdl-textfield mdl-js-textfield">
      <input class="mdl-textfield__input" name="username" id="username"
             value="{{username}}">
      <label class="mdl-textfield__label" for="username">Username</label>
    </div>
    <br>
    <div class="mdl-textfield mdl-js-textfield">
        <input class="mdl-textfield__input" type="password" name="password"
                                                            id="password">
        <label class="mdl-textfield__label" for="password">Password: </label>
    </div>

    <div class="mdl-color-text--accent input-error">
        {{loginerr}}
    </div>

    <div class="button">
      <input type="Submit" value="Submit" class="mdl-button mdl-js-button
                                                 mdl-button--raised
                                                 mdl-button--colored">
    </div>
</form>

<br>
<br>

Or <a href="/blog/signup">Signup</a>

{%endblock%}
