{%extends '/blog/base.html'%}

{%block title%}
<title>Add a post</title>
{%endblock title%}

{%block content%}

<h2 class="mdl-typography--headline">Add a post</h2>

<!-- Floating Multiline Textfield -->
<form method="post">
  <div class="mdl-textfield mdl-js-textfield">
    <input class="mdl-textfield__input" name="subject" id="subject"
           value="{{subject}}">
    <label class="mdl-textfield__label" for="subject">Title</label>
    </div>

  <div class="post-input mdl-textfield mdl-js-textfield">
    <textarea class=" mdl-textfield__input" type="text" rows= "10" id="content"
              name="content"></textarea>
    <label class="mdl-textfield__label" for="content">Write your post here</label>
  </div>

  <div class="input-error mdl-color-text--accent">
    {{error}}
  </div>

  <div class="button">
      <input type="Submit" value="Submit" class="mdl-button mdl-js-button
                                                 mdl-button--raised
                                                 mdl-button--colored">
  </div>

</form>

{%endblock%}