<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/wiki.css">
  <title>{{pagetitle}}</title>
</head>

<body>
  <header class="header">
    <h1><a href="/wiki">{{pagetitle}}</a></h1>
    <nav>
      <ul>
        {%if user%}
        <li>Hi! {{user}}</li>
        <li><a href="/wiki/logout{{'?goto=/wiki%s'%goto if goto else ''}}">Logout</a></li>

        {%else%}
        <li><a href="/wiki/login">Login</a></li>
        <li><a href="/wiki/signup">Signup</a></li>
        {%endif%}
      </ul>
    </nav>
  </header>
  <div class="main">
  {% block content%}
  {%endblock%}
  </div>
</body>
</html>