// Variables
primary-color = #009688
primary_alpha(alpha_level=0.5)
    alpha(primary-color, alpha_level)
accent-color = #f44336

clearfix()
    content: ""
    display: block
    clear: both

/*General styles*/
::selection
    background primary_alpha(0.2)
::-moz-selection
    background primary_alpha(0.2)

html
    font-size: 100%;
    *
        box-sizing: border-box;

body
    font: 1rem Helvetica, Arial, sans-serif;
    margin: 0;

header_title_height = 2rem
page-header-height = 2rem
tab_padding = 0.5rem
tab_height = 1.5rem

/*Header*/
.header
    padding: 0.5rem 3rem
    border-bottom: 2px solid primary-color
    box-shadow: 1px 1px 3px alpha(primary-color, 0.5)
    position fixed
    top: 0
    left: 0
    z-index 1
    background-color: white
    width: 100%

    a
        text-decoration: none

    & > h1
        margin: 0;
        float: left;
        font-size: header_title_height;
        line-height: 1;
        letter-spacing: 0.2rem

        & > a
            color inherit

    & > nav
        display: block;
        float: right;
        height: header_title_height;

        *
            display: block
            height: 100%;

        & > ul
            margin: 0;
            padding: 0;
            list-style-type: none;
            display: table;

    header_link_size = 1rem;

    & > nav li
        display: table-cell
        font-size: header_link_size

        & > a
            padding: ((header_title_height - header_link_size)/2) 1rem






.header:after
    clearfix()

.main
    padding 1rem
    position relative
    top header_title_height
    max-width: 60rem
    margin 1rem auto

article
    border-radius 1rem
    padding 0.5rem

    p
        font-family Cambria, Cochin, Georgia,Garamond, Times, Times New Roman, serif
        line-height: 1.5
        margin-top 0
        padding 1em 0.5em
        background linear-gradient(to bottom left, primary_alpha(0.05), transparent 50%)

        @media all and (min-width:40rem)
            -moz-column-width: 2;
            -moz-columns: 2;
            -webkit-columns: 2;
            columns: 2;

a
    color: accent-color
    &:focus
        outline-color primary-color



.page-header
    height tab_height
    & *
        height 100%
    & > h2 {
        line-height 1
        color: primary-color
        margin: 0
    }

    & > .menu
        display flex
        float: right
        align-items flex-end

        &:after
            clearfix()

        & a
            font-size smaller
            padding tab_padding
            padding-bottom 0
            color: inherit
            border 1px solid primary_alpha()
            margin 0 1px
            border-bottom none
            border-radius 5px 5px 0 0
            background primary_alpha(0.05)
            text-decoration none

        & a:last-child
            margin-right 0

        & a:hover
            color: accent-color

/*Forms*/
field_margin = 1.5rem
.form
    display flex
    flex-flow column
    align-items center
    justify-content space-between
    margin 2rem auto

    & > h2
        color primary-color
        margin 0
    .field
        line-height 2em
        margin field_margin 0
        & > *
            display block

    .error
        color accent-color

    input[type="submit"]
        margin field_margin auto

input[type="submit"]
        background-color primary-color
        padding 0.7rem 1rem
        color white
        text-transform uppercase
        border-color primary-color
        cursor pointer
        display block
        margin 1rem auto

textarea
    display block
    width 50%
    margin 0 auto
    height: 70vh
    font 0.9em Cambria, Cochin, Georgia,Garamond, Times, Times New Roman, serif
    outline-color: primary-color

table
    border-collapse collapse
    font-size 0.85em
tr:nth-child(2n)
    background primary_alpha(0.1)
td
    padding 0.5rem